.div1 {
    align-items: center;
    background-color: rgb(28, 43, 43);
    display: flex;
    grid-area: 1 / 1 / 2 / 4;
    height: 80px;
    text-align: center;
    width: 150%;
  }
  
  .div1 img {
    height: 70%;
    margin-left: 20px;
  }
 

  .read-more-button