main {
  perspective: 1000px;
  display: grid;
}

.div1 {
  align-items: center;
  background-color: rgb(28, 43, 43);
  display: flex;
  grid-area: 1 / 1 / 2 / 4;
  height: 80px;
  text-align: center;
  width: 150%;
}

.div1 img {
  height: 70%;
  margin-left: 20px;
}

#nameInput {
  width: 27%;
}

.panel {
  position: absolute;
  transform: rotate(0deg);
  opacity: 1;
  transition: transform 2s, opacity 2s;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease;
  max-width: 700px;
  min-width: 700px;
  margin-left: 20px;
  background-color: rgb(173, 216, 230);
}

.panel:hover {
  box-shadow: 0px 30px 60px -5px rgba(0, 0, 0, 0.75);
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: underline;
  padding: 5px;
}

.panel-country {
  font-size: 1em;
  color: rgb(84, 81, 81);
  margin-bottom: 5px;
}

.panel-language {
  font-size: 0.8em;
  color: rgb(84, 81, 81);
  margin-bottom: 15px;
}

.panel-description {
  font-size: 0.9em;
  color: #491010;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.panel-category {
  font-size: 0.9em;
  color: rgb(84, 81, 81);
  margin-bottom: 10px;
}

.business {
    color: blue;
}

.entertainment {
    color: yellow;
}

.general {
    color: black;
}

.health {
    color: cyan;
}

.science {
    color: green;
}

.sports {
    color: red;
}

.technology {
    color: rgb(25, 98, 98);
}

.panel-link {
  font-size: 0.9em;
  text-decoration: none;
  color: #491010;
  padding: 4px 16px;
  border: 2px solid 337ab7;
  border-radius: 20px;
  margin: 2px 0 6px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-3px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

.round-button {
  margin-bottom: 5px;
}

.round-button,
#search-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgb(28, 43, 43);
  border: none;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 50px;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.round-button:hover {
  background-color: #ee3124;
}

input[type="text"],
.input-field {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#search-button:hover {
    background-color: #ff0000;
    color: #fff;
}

footer video {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 25%;
}